<%- include('./partials/header.ejs')%>
  
    <div class = "content">
        <h3><%= err.status%> Error</h3> 
        <p><%= err.message%></p>
    </div>
    
    <%- include('./partials/footer.ejs')%>